<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            创建
        </h1>
        <div>
            <button type="button" class="btn-primary" onclick="back()">返回</button>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">正文</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="codeForm">
                        <div class="box-body">
                            <div class="form-group">
                                <label>标题</label>
                                <input type="text" class="form-control" name="title"
                                       placeholder="请输入标题">
                            </div>
                            <div class="form-group">
                                  <textarea name="code" id="code"></textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button onclick="sub()" type="button" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <script>
        function sub(){
            $.ajax({
                url: '/code/save',
                type: 'post',
                data: {
                    title: $("#codeForm input[name='title']").val(),
                    content: CKEDITOR.instances.code.getData(),
                },
                success: function (data) {
                    if (data.code >= 0) {
                        toastr.success(data.msg);
                        window.location.href = "/main?page=code/main";
                    }else {
                        toastr.error(data.msg);
                    }
                },
                error: function (e) {
                }
            });
        }
        $(function () {
            CKEDITOR.replace('code');
            CKEDITOR.config.image_previewText = ' ';
            CKEDITOR.config.filebrowserImageUploadUrl = '/uploadImg';
            CKEDITOR.config.language = 'zh-cn';
            CKEDITOR.config.height = '500px';
        });
    </script>
</div>