<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="content">
    <div class="layui-body" style="padding: 15px;">
        <script type="text/html" id="oper-col">
            <a class="layui-btn layui-btn layui-btn-xs" lay-event="addChild">新增子项</a>
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="update">修改</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
        <button sec:authorize="hasAuthority('ROLE_ORGANIZATION_ADD')" class="layui-btn" data-type="add">新增集团</button>

        <script type="text/html" id="toolbar">
            <div class="layui-btn-group">
                <button class="layui-btn" lay-event="btn-expand">全部展开</button>
                <button class="layui-btn" lay-event="btn-fold">全部折叠</button>
                <button class="layui-btn" lay-event="btn-refresh">刷新表格</button>
            </div>
        </script>
        <table class="page-table" th:id="organization" th:attr="lay-filter='organization'"></table>
    </div>

    <div id="organizationForm" style='display:none; '>
        <input type="hidden" name="pid">
        <input type="hidden" name="organizationType">
        <div class="layui-form-item">
            <div class="layui-inline" style="margin-top: 5px;">
                <label class="layui-form-label">组织名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" autocomplete="off" class="layui-input" placeholder="请输入组织名称">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备名</label>
                <div class="layui-input-inline">
                    <input type="text" name="deviceName" autocomplete="off" class="layui-input" placeholder="请输入设备编号">
                </div>
            </div>
        </div>
        <div class="layui-tab-content" style="margin-left: 160px">
            <button style="padding:0 20px; " class="layui-btn layui-btn-normal" data-type="organizationFormSave">保存
            </button>
        </div>
    </div>
    <form id="organizationUpdateForm" class="layui-form" action="" style='display:none; '>
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <div class="layui-inline" style="margin-top: 5px;">
                <label class="layui-form-label">组织名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" autocomplete="off" class="layui-input" placeholder="请输入组织名称">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备名</label>
                <div class="layui-input-inline">
                    <input type="text" name="deviceName" autocomplete="off" class="layui-input"
                           placeholder="请输入设备编号">
                </div>
            </div>
        </div>

        <div class="layui-tab-content" style="margin-left: 160px">
            <button style="padding:0 20px; " class="layui-btn layui-btn-normal" lay-submit="" lay-filter="update">保存
            </button>
        </div>
    </form>

    <script>
        layui.use(['layer', 'table', 'treetable', 'jquery', 'form'], function () {
            var table = layui.table;
            var $ = layui.jquery;
            var form = layui.form;
            var treetable = layui.treetable;
            var layer = layui.layer;
            var renderTable = function () {
                layer.load(2);
                treetable.render({
                    treeColIndex: 1,
                    treeSpid: null,
                    treeIdName: 'id',
                    treePidName: 'parentId',
                    elem: '#organization',
                    url: '/organization/list'
                    , toolbar: '#toolbar',
                    page: false,
                    cols: [
                        [
                            {type: 'numbers'},
                            {field: 'name', width: 200, title: '组织名称'},
                            {field: 'id', width: 100, title: '真实编号'},
                            {
                                field: 'organizationType', width: 80, align: 'center', templet: function (d) {
                                    if (d.organizationType == 'COMPANY') {
                                        return '<span class="layui-badge layui-bg-blue">公司</span>';
                                    } else if (d.organizationType == 'SHOP') {
                                        return '<span class="layui-badge-rim">车间</span>';
                                    } else if (d.organizationType == 'DEVICE') {
                                        return '<span class="layui-badge-rim layui-bg-red">设备</span>';
                                    }
                                }, title: '类型'
                            },
                            {field: 'deviceName', title: '设备名'},
                            {templet: '#oper-col', title: 'oper'},
                        ]
                    ],
                    done: function () {
                        layer.closeAll('loading');
                    }
                });
            };
            renderTable();
            table.on('toolbar(organization)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'btn-expand':
                        treetable.expandAll('#organization');
                        break;
                    case 'btn-fold':
                        treetable.foldAll('#organization');
                        break;
                    case 'btn-refresh':
                        renderTable();
                        break;
                };
            });
            var active = {
                add: function () {
                    $("#organizationForm input[name='organizationType']").val("COMPANY")
                    layer.open({
                        type: 1
                        , title: ['组织创建', 'font-size:18px;']
                        , closeBtn: 1
                        , area: ['450px', '300px']
                        , maxmin: true  //最大最小化
                        , content: $('#organizationForm')
                        , resize: true
                        , shadeClose: true
                    });
                },
                organizationFormSave: function () {
                    $.ajax({
                        url: '/organization/add',
                        method: 'POST',
                        data: {
                            pid: $("#organizationForm input[name='pid']").val()
                            , organizationType: $("#organizationForm input[name='organizationType']").val()
                            , name: $("#organizationForm input[name='name']").val()
                            , deviceName: $("#organizationForm input[name='deviceName']").val()
                        },
                        success: function (data) {
                            if (data.code >= 0) {
                                layer.closeAll();
                                renderTable();
                                layer.msg(data.msg, {time: 1000});
                            } else {
                                layer.msg(data.msg);
                            }
                        }
                    });
                },
            };
            table.on('tool(organization)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                if (layEvent === 'del') {
                    if (data.id==0){
                        layer.msg("不支持的操作", {time: 1000});
                        return;
                    }
                    layer.confirm('确认要删除吗？', {
                        btn: ['确定', '取消']//按钮
                    }, function (index) {
                        layer.close(index);
                        $.ajax({
                            url: '/organization/remove',
                            method: 'POST',
                            data: {id: data.id},
                            success: function (data) {
                                if (data.code >= 0) {
                                    layer.closeAll();
                                    renderTable();
                                    layer.msg(data.msg, {time: 1000});
                                } else {
                                    layer.msg(data.msg, {
                                        time: 20000, //20s后自动关闭
                                        btn: ['明白了']
                                    });
                                }
                            }
                        });
                    });
                } else if (layEvent === 'update') {
                    if (data.id==0){
                        layer.msg("不支持的操作", {time: 1000});
                        return;
                    }
                    $("#organizationUpdateForm input[name='id']").val(data.id);
                    $("#organizationUpdateForm input[name='name']").val(data.name);
                    $("#organizationUpdateForm input[name='deviceName']").val(data.deviceName);
                    layer.open({
                        type: 1
                        , title: ['组织修改', 'font-size:18px;']
                        , closeBtn: 1
                        , area: ['450px', '300px']
                        , maxmin: true  //最大最小化
                        , content: $('#organizationUpdateForm')
                        , resize: true
                        , shadeClose: true
                    });
                } else if (layEvent == 'addChild') {
                    if (data.id==0){
                        layer.msg("不支持的操作", {time: 1000});
                        return;
                    }
                    $("#organizationForm input[name='pid']").val(data.id);
                    var type;
                    if (data.organizationType == 'COMPANY') {
                        type = 'SHOP';
                    } else if (data.organizationType == 'SHOP') {
                        type = 'DEVICE';
                    } else {
                        layer.msg("不支持的操作", {time: 1000});
                        return;
                    }
                    $("#organizationForm input[name='organizationType']").val(type);
                    layer.open({
                        type: 1
                        , title: ['组织创建', 'font-size:18px;']
                        , closeBtn: 1
                        , area: ['450px', '300px']
                        , maxmin: true  //最大最小化
                        , content: $('#organizationForm')
                        , resize: true
                        , shadeClose: true
                    });
                }
            });
            form.on("submit(update)", function (data) {
                $.ajax({
                    url: '/organization/update',
                    method: 'POST',
                    data: data.field,
                    success: function (data) {
                        if (data.code >= 0) {
                            layer.closeAll();
                            renderTable();
                            layer.msg(data.msg, {time: 1000});
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
                return false;
            });
            $('.layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

        });
    </script>
</div>