<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragment/header :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <div th:replace="fragment/head :: head"></div>
    </header>
    <aside class="main-sidebar">
        <div th:replace="fragment/left :: left"></div>
    </aside>
    <div class="content-wrapper">
        <div class="modal fade" id="organizationAddForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">新增</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>组织名称</label>
                            <input type="text" name="name" class="form-control" placeholder="请输入组织名称">
                        </div>
                        <div class="form-group">
                            <label>选择组织</label>
                            <p type="button" id="selectOrganization" class="btn btn-primary">选择组织</p>
                            <div id="knowledgeTree"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                        </button>
                        <button type="button" onclick="submit()" class="btn btn-primary" data-dismiss="modal"><span
                                class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="organizationTreeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">组织树</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="button" id="expandTree" value="展开所有" class="btn btn-normal"/>
                            <input type="button" id="collapseTree" value="折叠所有" class="btn btn-normal"/>
                            <table id="organizationTree" class="table table-bordered table-striped"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-header">
            <h1>
                组织
                <!--<small>advanced tables</small>-->
            </h1>
            <div>
                <button type="button" class="btn-primary" onclick="create()">新建</button>
            </div>
            <!--<ol class="breadcrumb">-->
            <!--<li><i class="fa fa-dashboard"></i> 代码记录</li>-->
            <!--<li>代码</li>-->
            <!--<li class="active">代码块</li>-->
            <!--</ol>-->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!--<div class="box-header">-->
                        <!--<h3 class="box-title">数据</h3>-->
                        <!--</div>-->
                        <!-- /.box-header -->
                        <div class="box-body">
                            <input type="button" id="expandAllTree" value="展开所有" class="btn btn-normal"/>
                            <input type="button" id="collapseAllTree" value="折叠所有" class="btn btn-normal"/>
                            <table id="organization" class="table table-bordered table-striped">
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <script>
            var $table = $('#organization');
            $table.bootstrapTable({
                // class: 'table table-hover table-bordered',
                url: '/organization/list',
                // contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                // data: data,
                sidePagination: 'server',
                pagination: false,
                treeView: true,
                treeId: "id",
                treeField: "name",
                // rowAttributes: function (row, index) {
                //     return {
                //         xx: index
                //     };
                // },
                // queryParams: function (params) {
                //     var param = {
                //         roleId: 'xx'
                //     };
                //     return param;
                // },
                columns: [{
                    field: 'name',
                    title: '公司名',
                }, {
                    field: 'id',
                    title: 'ID'
                }, {
                    field: 'deviceName',
                    title: '设备名',
                }, {
                    title: '操作',
                    formatter: function (value, row, index) {
                        return '<button onclick=update(' + row.id+ ') type="button" class="btn-primary">编辑</button>';
                    }
                }
                ]
            });
            $("#expandAllTree").on('click', function () {
                $table.bootstrapTable("expandAllTree")
            });
            $("#collapseAllTree").on('click', function () {
                $table.bootstrapTable("collapseAllTree")
            });
            $("#expandTree").on('click', function () {
                $("#organizationTree").bootstrapTable("expandAllTree")
            });
            $("#collapseTree").on('click', function () {
                $("#organizationTree").bootstrapTable("collapseAllTree")
            });

            function create() {
                $("#organizationAddForm").modal();
            }

            function update(id) {
                console.log(id);
            }

            function del() {
                var data = $table.bootstrapTable('getSelections');
                for (var i = 0; i < data.length; i++) {
                    console.log(data[i].id);
                }
            }
            function chooseParent(id,name){
                $("#selectOrganization").text(name);
                $("#selectOrganization").val(id);
                console.log($("#selectOrganization").val());
                $("#organizationTreeForm").modal('hide')
            }

            $("#selectOrganization").on('click', function () {
                $('#organizationTree').bootstrapTable('destroy');
                $('#organizationTree').bootstrapTable({
                    // class: 'table table-hover table-bordered',
                    url: '/organization/list',
                    // contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    // data: data,
                    sidePagination: 'server',
                    pagination: false,
                    treeView: true,
                    treeId: "id",
                    treeField: "name",
                    // rowAttributes: function (row, index) {
                    //     return {
                    //         xx: index
                    //     };
                    // },
                    // queryParams: function (params) {
                    //     var param = {
                    //         roleId: 'xx'
                    //     };
                    //     return param;
                    // },
                    columns: [{
                        field: 'name',
                        title: '公司名',
                    }, {
                        field: 'id',
                        title: 'ID'
                    }, {
                        field: 'deviceName',
                        title: '设备名',
                    }, {
                        title: '操作',
                        formatter: function (value, row, index) {
                            if (row.organizationType != 'DEVICE') {
                                return '<button onclick=chooseParent(' + row.id + ',"'+row.name+'\") type="button" class="btn-primary">选择父组织</button>';
                            }
                        }
                    }
                    ]
                });
                $("#organizationTreeForm").modal();
            });
        </script>
    </div>
    <footer class="main-footer">
        <div th:replace="fragment/foot :: foot"></div>
    </footer>
</div>
</body>
</html>