<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragment/header :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <div th:replace="fragment/head :: head"></div>
    </header>
    <aside class="main-sidebar">
        <div th:replace="fragment/left :: left"></div>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                查看
            </h1>
            <div>
                <button type="button" class="btn-primary" onclick="back()">返回</button>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${video.title}"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="vid-wrap">
                            <video onclick="playPause()" id="v" autoplay  controls >
                                <source th:src="${video.url}" >
                            </video>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn-primary" onclick="back()">返回</button>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </section>
        <script>
           Media = document.getElementById("v");
           // var eventTester = function(e){
           //     Media.addEventListener(e,function(){
           //        window.location.href="http://www.baidu.com";
           //     },false);
           // };
           $(function(){
               $(document).keydown(function(e){
                   var e = e || window.event;
                   if(e.keyCode==32){
                      if (Media.paused) {
                          Media.play();
                          return false;
                      }else {
                          Media.pause();
                          return false;
                      }
                   }
                   if (e.keyCode==37){
                       Media.currentTime=Media.currentTime-5;
                   }
                   if (e.keyCode==39){
                       Media.currentTime=Media.currentTime+5;
                   }
                   if (e.keyCode==38) {
                       Media.volume=Media.volume+0.05;
                       return false;
                   }
                   if (e.keyCode==40) {
                       Media.volume=Media.volume-0.05;
                       return false;
                   }
                   // if(e.preventDefault){
                   //     e.preventDefault();
                   // }else{
                   //     window.event.returnValue = false;
                   // }
               });
           });
           function playPause()
           {
               if(Media.paused)
                   Media.play();
               else
                   Media.pause();
           }
           // eventTester("ended");
        </script>

    </div>
    <footer class="main-footer">
        <div th:replace="fragment/foot :: foot"></div>
    </footer>
</div>
</body>
</html>