<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<div th:fragment="left">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">菜单栏</li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-table"></i> <span>MANGA</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/manga/main}"><i class="fa fa-circle-o"></i>MANGA</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-table"></i> <span>代码记录</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/code/main}"><i class="fa fa-circle-o"></i>代码</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-tree"></i> <span>组织管理</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/organization/main}"><i class="fa fa-circle-o"></i>组织</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-user-plus"></i> <span>权限管理</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a sec:authorize="hasAuthority('ROLE_RESOURCE_USER')" th:href="@{/user/user }"><i class="fa fa-circle-o"></i>用户</a></li>
                    <li><a sec:authorize="hasAuthority('ROLE_RESOURCE_ROLE')" th:href="@{/role/role}"><i class="fa fa-circle-o"></i>角色</a></li>
                    <li><a sec:authorize="hasAuthority('ROLE_RESOURCE_PERMISSION')" th:href="@{/permission/permission }"><i class="fa fa-circle-o"></i>权限</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-user"></i> <span>个人中心</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/user/avatar}"><i class="fa fa-circle-o"></i>头像设置</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
    <!--<div class="layui-side-scroll">-->
        <!--<ul class="layui-nav layui-nav-tree"  lay-filter="test">-->
            <!--<li class="layui-nav-item">-->
                <!--<a  class="" href="javascript:;">代码记录</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a th:href="@{/main?page=code/main}">代码</a></dd>-->
                    <!--&lt;!&ndash;<dd><a sec:authorize="hasAuthority('ROLE_USER_ADD')" th:href="@{/main?page=user/register}">注册</a></dd>&ndash;&gt;-->
                <!--</dl>-->
            <!--</li>-->
            <!--<li class="layui-nav-item">-->
                <!--<a sec:authorize="hasAuthority('ROLE_RESOURCE_MANAGE')" class="" href="javascript:;">权限管理</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a sec:authorize="hasAuthority('ROLE_RESOURCE_USER')" th:href="@{/main?page=user/register }">用户</a></dd>-->
                    <!--<dd><a sec:authorize="hasAuthority('ROLE_RESOURCE_ROLE')" th:href="@{/main?page=user/role}">角色</a ></dd>-->
                    <!--<dd><a sec:authorize="hasAuthority('ROLE_RESOURCE_PERMISSION')" th:href="@{/main?page=user/permission }">权限</a></dd>-->
                <!--</dl>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
</div>
</html>