<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="layui-body" style="padding: 15px;" th:fragment="content">
    <script type="text/html" id="toolbar">
        <div class="layui-btn-group">
            <button class="layui-btn" lay-event="btn-refresh">刷新表格</button>
        </div>
    </script>
    <table class="page-table" th:id="device" th:attr="lay-filter='device'"></table>


    <script>
        layui.use(['table', 'jquery', 'form'], function () {
            var $ = layui.jquery;
            var form = layui.form;
            var table = layui.table;
            //方法级渲染
            var renderTable = function () {
                table.render({
                    id: 'device'
                    , elem: '#device'
                    , url: '/device/page'
                    , toolbar: '#toolbar'
                    , cols: [
                        [
                            //{checkbox: true, fixed: true}
                            {type: 'radio'}
                            , {field: 'name', title: '设备名', width: 200}
                            , {field: 'flow', title: '流量', width: 200, sort: true}
                            , {field: 'speed', title: '速度', width: 200, sort: true}
                            , {field: 'sum', title: '累积量', width: 200, sort: true}
                        ]
                    ]
                    , page: true
                    , height: 570
                });
            };
            renderTable();
            //监听表格排序问题
            table.on('sort(device)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                // console.log(obj.field); //当前排序的字段名
                // console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
                // console.log(this); //当前排序的 th 对象

                //尽管我们的 table 自带排序功能，但并没有请求服务端。
                //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
                table.reload('device', { //testTable是表格容器id
                    initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                    , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                        sortProperty: obj.field //排序字段
                        , sortType: obj.type.toUpperCase() //排序方式
                    }
                });
            });
            table.on('toolbar(device)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'btn-refresh':
                        renderTable();
                        break;
                }
                ;
            });
            $('.layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</div>
</body>

</html>