<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <div class="modal fade" id="roleAddForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新增</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>角色名称</label>
                        <input type="text" name="name" class="form-control" placeholder="请输入角色名称,以ROLE_开头">
                    </div>
                    <div class="form-group">
                        <label>角色描述</label>
                        <input type="text" name="description" class="form-control" placeholder="请输入角色描述">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                    <button type="button" onclick="submit()" class="btn btn-primary" data-dismiss="modal"><span
                            class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="roleUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新增</h4>
                </div>
                <input th:type="hidden" name="id">
                <div class="modal-body">
                    <div class="form-group">
                        <label>角色名称</label>
                        <input type="text" name="name" class="form-control" placeholder="请输入角色名称,以ROLE_开头">
                    </div>
                    <div class="form-group">
                        <label>角色描述</label>
                        <input type="text" name="description" class="form-control" placeholder="请输入角色描述">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                    <button type="button" onclick="submitUpdate()" class="btn btn-primary" data-dismiss="modal"><span
                            class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="roleGrantForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">权限分配</h4>
                </div>
                <div class="modal-body">
                    <table id="rolePermission" class="table table-bordered table-striped">
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
    <section class="content-header">
        <h1>
            角色
            <!--<small>advanced tables</small>-->
        </h1>
        <div>
            <button type="button" class="btn-primary" onclick="add()">创建</button>
            <button type="button" class="btn-primary" onclick="update()">修改</button>
            <button type="button" class="btn-primary" onclick="del()">删除</button>
            <button type="button" class="btn-primary" onclick="grant()">分配权限</button>
        </div>
        <!--<ol class="breadcrumb">-->
        <!--<li><i class="fa fa-dashboard"></i> 代码记录</li>-->
        <!--<li>代码</li>-->
        <!--<li class="active">代码块</li>-->
        <!--</ol>-->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!--<div class="box-header">-->
                    <!--<h3 class="box-title">数据</h3>-->
                    <!--</div>-->
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="role" class="table table-bordered table-striped">
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <script>
        $('#role')
            .bootstrapTable(
                {
                    method: 'get', // 服务器数据的请求方式 get or post
                    url: '/role/page', // 服务器数据的加载地址
                    cache: false,
                    toolbar: true,
                    sortable: true,
                    sortOrder: null,
                    striped: true, // 设置为true会有隔行变色效果
                    dataType: "json", // 服务器返回的数据类型
                    pagination: true, // 设置为true会在底部显示分页条
                    singleSelect: false, // 设置为true将禁止多选
                    pageSize: 10, // 如果设置了分页，每页数据条数
                    pageNumber: 1, // 如果设置了分布，首页页码
                    pageList: [5, 10, 15, 20],
                    sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者
                    showColumns: true,
                    showRefresh: true,
                    clickToSelect: true,
                    showExport: true,
                    exportDataType: "selected",
                    exportOptions: {
                        ignoreColumn: [0]
                    },
                    queryParams: function (params) {
                        return {
                            // 说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                            limit: params.limit,
                            offset: params.offset,
                            sort: params.sort,      //排序列名
                            sortOrder: params.order //排位命令（desc，asc）
                        };
                    },
                    // //请求服务器数据时，你可以通过重写参数的方式添加一些额外的参数，例如 toolbar 中的参数 如果
                    // queryParamsType = 'limit' ,返回参数必须包含
                    // limit, offset, search, sort, order 否则, 需要包含:
                    // pageSize, pageNumber, searchText, sortName,
                    // sortOrder.
                    // 返回false将会终止请求
                    columns: [
                        {
                            checkbox: true
                        },
                        {
                            sortable: true,
                            field: 'id',
                            title: 'id'
                        },
                        {
                            sortable: true,
                            field: 'name',
                            title: '角色名'
                        },
                        {
                            sortable: true,
                            field: 'description',
                            title: '角色描述'
                        }
                    ]
                    ,
                    onLoadSuccess: function () {  //加载成功时执行
                        // console.info("加载成功");
                    },
                    onLoadError: function () {  //加载失败时执行
                        // console.info("加载数据失败");
                    }
                });

        function add() {
            $('#roleAddForm').modal();
        }

        function submit() {
            $.ajax({
                url: '/role/save',
                method: 'POST',
                data: {
                    name: $("#roleAddForm input[name='name']").val(),
                    description: $("#roleAddForm input[name='description']").val(),
                },
                success: function (data) {
                    if (data.code >= 0) {
                        toastr.success(data.msg);
                        $('#role').bootstrapTable('refresh');
                    } else {
                        toastr.error(data.msg);
                    }
                },
                error: function () {
                    toastr.error("无此权限");
                }
            });
        }

        function submitUpdate() {
            $.ajax({
                url: '/role/update',
                method: 'POST',
                data: {
                    id: $("#roleUpdateForm input[name='id']").val(),
                    name: $("#roleUpdateForm input[name='name']").val(),
                    description: $("#roleUpdateForm input[name='description']").val(),
                },
                success: function (data) {
                    if (data.code >= 0) {
                        toastr.success(data.msg);
                        $('#role').bootstrapTable('refresh');
                    } else {
                        toastr.error(data.msg);
                    }
                },
                error: function () {
                    toastr.error("无此权限");
                }
            });
        }

        function update() {
            var data = $('#role').bootstrapTable('getSelections');
            $.ajax({
                url: '/role/detail',
                type: 'post',
                data: {id: data[0].id},
                success: function (data) {
                    var d = data.rows;
                    $("#roleUpdateForm input[name='name']").val(d.name);
                    $("#roleUpdateForm input[name='description']").val(d.description);
                    $("#roleUpdateForm input[name='id']").val(d.id);
                    $("#roleUpdateForm").modal();
                }
            });
        }

        function del() {
            var data = $('#role').bootstrapTable('getSelections');
            msgbox.confirm({message: "确认要删除选择的数据吗？"}).on(function (e) {
                if (!e) {
                    return;
                }
                $.ajax({
                    url: '/role/delete',
                    type: 'post',
                    dataType: 'json',
                    data: "id=" + data[0].id,
                    success: function (data) {
                        if (data.code >= 0) {
                            toastr.success('删除成功');
                            $('#role').bootstrapTable('refresh');
                        } else {
                            toastr.error('删除失败');
                        }
                    },
                    error: function () {
                        toastr.error('系统错误');
                    }
                });
            });
        }
        function grant() {
            var data = $('#role').bootstrapTable('getSelections');
            if (data.length != 1) {
                toastr.warning("必须选中一条记录");
            } else {
                $("#rolePermission").bootstrapTable('destroy');
                $('#rolePermission')
                    .bootstrapTable(
                        {
                            method: 'get', // 服务器数据的请求方式 get or post
                            url: '/permission/findAll', // 服务器数据的加载地址
                            cache: false,
                            striped: true, // 设置为true会有隔行变色效果
                            dataType: "json", // 服务器返回的数据类型
                            queryParams: function () {
                                return {
                                    id: data[0].id
                                };
                            },
                            columns: [
                                {
                                    field: 'id',
                                    title: 'id'
                                },
                                {
                                    field: 'name',
                                    title: '权限名'
                                },
                                {
                                    field: 'description',
                                    title: '权限描述'
                                },
                                {
                                    field: 'enabled',
                                    title: '是否授权',
                                    formatter: function (value, row, index) {
                                        var a=row.id;
                                        if (value) {
                                            return '<input value='+a+' id="create-switch" type="checkbox" name="my-checkbox1" checked>';
                                        } else {
                                            return '<input value='+a+' id="create-switch" type="checkbox" name="my-checkbox1" check>';
                                        }
                                    }
                                }
                            ]
                            ,
                            onLoadSuccess: function () {  //加载成功时执行
                                $("[name='my-checkbox1']").bootstrapSwitch({
                                    onText: "已授权",
                                    offText: "未授权",
                                    onColor: "success",
                                    offColor: "normal",
                                    onSwitchChange: function (event, state) {
                                        $.ajax({
                                            url: '/permission/grant',
                                            data: {
                                                roleId: data[0].id,
                                                grant:state,
                                                permissionId: this.value
                                            },
                                            success: function (res) {
                                                if (res.code >= 0) {
                                                    if (state){
                                                        toastr.success('已授权');
                                                    } else {
                                                        toastr.warning('已取消授权');
                                                    }
                                                } else {
                                                    toastr.error("系统异常");
                                                }
                                            }
                                        });
                                    }
                                });
                            },
                            onLoadError: function () {  //加载失败时执行
                                // console.info("加载数据失败");
                            }
                        });
                $("#roleGrantForm").modal();
            }
        }
    </script>
</div>