<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragment/header :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <div th:replace="fragment/head :: head"></div>
    </header>
    <aside class="main-sidebar">
        <div th:replace="fragment/left :: left"></div>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                MANGA上传
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="form-group">
                                <label>标题</label>
                                <input type="text" class="form-control" id="title" name="title"
                                       placeholder="请输入标题">
                            </div>
                            <div class="form-group">
                                <label>封面</label>
                                <input id="f_upload" name="file" type="file" class="file" />
                            </div>
                            <div class="form-group">
                                <label>内容</label>
                                <input id="content" name="file" multiple type="file" class="file"/>
                            </div>
                            <div class="box-footer">
                                <button onclick="sub()" type="button" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            var cover;
            var content=new Array();
            $("#f_upload").fileinput({
                language: 'zh', //设置语言
                uploadUrl:"/manga/up/img", //上传的地址
                allowedPreviewTypes: ['image'],
                allowedFileExtensions: ['jpg', 'gif', 'png','jpeg'],//接收的文件后缀
                uploadAsync: true, //默认异步上传
                showUpload:true, //是否显示上传按钮
                showRemove :true, //显示移除按钮
                showPreview :true, //是否显示预览
                showCaption:false,//是否显示标题
                browseClass:"btn btn-primary", //按钮样式
                dropZoneEnabled: false,//是否显示拖拽区域
                maxFileCount:1, //表示允许同时上传的最大文件个数
                enctype:'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: "<iclass='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            }).on("fileuploaded", function (event, data, previewId, index){
                cover=data.response.msg;
                toastr.success("上传成功");
            });
            $("#content").fileinput({
                language: 'zh', //设置语言
                uploadUrl:"/manga/up/img/group", //上传的地址
                allowedPreviewTypes: ['image'],
                allowedFileExtensions: ['jpg', 'gif', 'png','jpeg'],//接收的文件后缀
                uploadAsync: false, //默认异步上传
                showUpload:true, //是否显示上传按钮
                showRemove :true, //显示移除按钮
                showCaption:false,//是否显示标题
                browseClass:"btn btn-primary", //按钮样式
                dropZoneEnabled: false,//是否显示拖拽区域
                showPreview:true,
                maxFileCount:20, //表示允许同时上传的最大文件个数
                enctype:'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: "<iclass='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            }).on("filebatchuploadsuccess", function (event, data, previewId, index){
               for (var i=0;i<data.response.rows.length;i++){
                   content.push(data.response.rows[i]);
               }
                toastr.success("上传成功");
            });
            function sub() {
                $.ajax({
                    url: '/manga/save',
                    method: 'POST',
                    data: {
                        title: $("#title").val(),
                        cover: cover,
                        content: content,
                    },
                    success: function (data) {
                        if (data.code >= 0) {
                            toastr.success(data.msg);
                            setTimeout(function(){  //使用  setTimeout（）方法设定定时2000毫秒
                                window.location.href="/manga/main";//页面刷新
                            },1000);
                        } else {
                            toastr.error(data.msg);
                        }
                    },
                });
            }
        </script>
    </div>
    <footer class="main-footer">
        <div th:replace="fragment/foot :: foot"></div>
    </footer>
</div>
</body>
</html>