<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <div th:replace="fragment/head :: head"></div>
    </header>

    <aside class="main-sidebar">
        <div th:replace="fragment/left :: left"></div>
    </aside>

    <div class="content-wrapper" th:fragment="content">
        <div th:replace="${main} :: content">Page Content</div>
    </div>

    <footer class="main-footer">
        <div th:replace="fragment/foot :: foot"></div>
    </footer>
</div>
</body>
</html>